name: Create new GitHub Release

on:
  workflow_call:
    inputs:
        with-submodules:
          description: "Clone repository with its submodules"
          type: boolean
          required: false
          default: false
        runs-on:
          description: "Tag for the runner to use in the main job."
          type: string
          required: false
          default: "ubuntu-latest"


jobs:
  pre_job:
    name: "Check for duplicate jobs"
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: 'same_content_newer'
          skip_after_successful_duplicate: 'true'
          
  release:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    name: "Create new GitHub Release"
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: ${{ inputs.with-submodules }}
        fetch-depth: 0
    - name: Create Changelog
      shell: bash
      run: |
        DIFF=$(git log $(git tag --sort=-creatordate | sed '2q;d')..HEAD --oneline)
        if [ -z "$DIFF" ]; then
          echo "Defaulting to full log"
          DIFF=$(git log --oneline)
        fi
        echo "# Commits since last release" > CHANGELOG.txt
        echo "$DIFF" | sed 's/^/* /' | sed '/Auto-Update Dependencies/{s/Updated/\n\t* Updated/g}' | sed '/\[maven-release-plugin\]/d' | sed '/Merge branch/d' | sed -r '/.*\(#\w+\)$/d' >> CHANGELOG.txt
        
    - uses: softprops/action-gh-release@v1
      with:
        body_path: CHANGELOG.txt
        generate_release_notes: true


 
