name: Create new Maven Release

on:
  workflow_call:
    inputs:
        with-submodules:
          description: "Clone repository with its submodules"
          type: boolean
          required: false
          default: false
        runs-on:
          description: "Tag for the runner to use in the main job."
          type: string
          required: false
          default: "ubuntu-latest"

    secrets:
      PAT:
        required: true

jobs:
  pre_job:
    name: "Check for duplicate jobs"
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: 'same_content_newer'
          skip_after_successful_duplicate: 'true'
          
  build:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    name: "Create new Release"
    runs-on: ${{ inputs.runs-on }}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: ${{ inputs.with-submodules }}
        persist-credentials: false

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'maven'

    - name: Configure GIT
      shell: bash
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"

    - name: New Release
      # This step will only for for single module projects or projects that use the revision property
      shell: bash
      run: |
        # Check that workflow has only one "uses" in its file
        if [ $(grep -c "uses:" ${{github.event.workflow}}) -ne 1 ]; then
          echo "Workflow has more than one 'uses' in its file. Skipping ..."
          exit 1
        fi
        WORKFLOW_REPO=$(cat ${{github.event.workflow}} | grep "uses:" | awk '{print $2}' | cut -d '/' -f 1,2)
        echo "Workflow repo is $WORKFLOW_REPO"

        # Download version update script to tmp directory
        curl -s https://raw.githubusercontent.com/$WORKFLOW_REPO/main/scripts/maven-version-update.sh > /tmp/maven-version-update.sh
        chmod +x /tmp/maven-version-update.sh
        echo "######### Content of maven-version-update.sh #########"
        cat /tmp/maven-version-update.sh
        echo "######################################################"
        echo "######### Running maven-version-update.sh ###########"
        bash /tmp/maven-version-update.sh  
        echo "######################################################"
        
    - name: Push Changes
      uses: ad-m/github-push-action@master
      with:
        # See https://github.com/orgs/community/discussions/25702 and https://github.com/orgs/community/discussions/26220
        github_token: ${{ secrets.PAT }}
        branch: ${{ github.ref }}
        tags: true
