name: Build and/or Deploy Maven Projects

on:
  workflow_call:
    inputs:
        with-submodules:
          description: "Clone repository with its submodules"
          type: boolean
          required: false
          default: false
        deploy:
          description: "Switch to enable or disable the deployment process"
          type: boolean
          required: true
    secrets:
      OSSRH_USER:
        required: true
      OSSRH_TOKEN:
        required: true
      GPG_KEY:
        required: true
          
jobs:
  build:
    name: "Build and/or Deploy"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: ${{ inputs.with-submodules }}

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'maven'

    - name: Maven Verify
      shell: bash
      run: mvn -U -B verify

    - name: Set maven settings.xml
      uses: whelk-io/maven-settings-xml-action@v20
      if: ${{ inputs.deploy }}
      with:
        servers: '[{ "id": "ossrh", "username": "${{ secrets.OSSRH_USER }}", "password": "${{ secrets.OSSRH_TOKEN }}" }]'

    - name: Import GPG key
      uses: crazy-max/ghaction-import-gpg@v5
      if: ${{ inputs.deploy }}
      with:
        gpg_private_key: ${{ secrets.GPG_KEY }}

    - name: Publish Package
      if: ${{ inputs.deploy }}
      shell: bash
      run: mvn -Dmaven.test.skip=true -P deployment -U -B deploy
