name: Create new Maven Release

on:
  workflow_call:
    inputs:
        with-submodules:
          description: "Clone repository with its submodules"
          type: boolean
          required: false
          default: false
        release-version:
            type: string
            description: The version for release. E.g., "1.2.3"
            required: true
        next-version:
            type: string
            description: The version after release. E.g., "2.0.0"
            required: true
        runs-on:
          description: "Tag for the runner to use in the main job."
          type: string
          required: false
          default: "ubuntu-latest"
        auto-digit:
          description: "The digit to be automatically incremented. E.g., Major, Minor, or Patch"
          type: string
          required: false
          default: "Minor"              
    secrets:
      PAT:
        required: true

jobs:
    build:
        name: "Trigger new Release"
        runs-on: ${{ inputs.runs-on }}
    
        steps:
        - uses: actions/checkout@v4
          with:
            persist-credentials: false
            submodules: ${{ inputs.with-submodules }}
    
        - name: Set up JDK
          uses: actions/setup-java@v3
          with:
            distribution: 'temurin'
            java-version: 17
    
        - name: Prepare GIT
          shell: bash
          run: |
            git config --global user.email "action@github.com"
            git config --global user.name "GitHub Action"
    
        - name: Bump to Release, Verify, Bump to Next Version, and Verify
          shell: bash
          run: |
            # Check that workflow has only one "uses" in its file
            if [ $(grep -c "uses:" ${{github.event.workflow}}) -ne 1 ]; then
              echo "Workflow has more than one 'uses' in its file. Skipping ..."
              exit 1
            fi
            WORKFLOW_REPO=$(cat ${{github.event.workflow}} | grep "uses:" | awk '{print $2}' | cut -d '/' -f 1,2)
            echo "Workflow repo is $WORKFLOW_REPO"

            # Download version update script to tmp directory
            curl -s https://raw.githubusercontent.com/$WORKFLOW_REPO/main/scripts/maven-version-update.sh > /tmp/maven-version-update.sh
            chmod +x /tmp/maven-version-update.sh
            echo "######### Content of maven-version-update.sh #########"
            cat /tmp/maven-version-update.sh
            echo "######################################################"
            echo "######### Running maven-version-update.sh ###########"
            RELEASE_VERSION=${{ inputs.release-version }} NEXT_VERSION=${{ inputs.next-version }} AUTO_DIGIT=${{ inputs.auto-digit }} bash /tmp/maven-version-update.sh  
            echo "######################################################"
            
        - name: Push Changes
          uses: ad-m/github-push-action@master
          with:
            # See https://github.com/orgs/community/discussions/25702 and https://github.com/orgs/community/discussions/26220
            github_token: ${{ secrets.PAT }}
            branch: ${{ github.ref }}
            tags: true 